@import url("Components/avatar.css");
@import url("Components/banner.css");
@import url("Components/button.css");


h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 160
  }

h1{
  font-family: 'Playfair Display', serif;
  color: darkred;
  font-size: 80;
}

h2{
  font-family: 'Playfair Display', serif;
  color : blue
}


body {
  font-family: 'Roboto Condensed', sans-serif;
  color:131392;
  font-size: 60;
  background-color: #8e8585;
}


img {
  color-interpolation: blue;


